<h1> 留言訊息</h1>
<% for(let i=0; i < data.length; i++){ %>
  <div>
    <a href="/message?userId=<%=data[i].message.userId%>"><h3> 名字： <%=data[i].message.User.name%></h3></a>
    <p>
      <%=data[i].message.comment%>
    </p>
    <a href="/message/<%=data[i].index%>/edit?page=<%= page %>">
      <button type="submit">修改</button>
    </a>
    <form style="display: inline-block;" action="/message/<%=data[i].index%>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="page" value="<%= page %>">
      <input type="hidden" name="messageId" value="<%=data[i].message.id%>">
      <button type="submit">刪除</button>
    </form>
  </div>
  <%}%>

    <form action="/message/create" method="post">
      <label for="comment"></label>
      <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
      <button type="submit">Submit</button>
    </form>
    <ul style="display: inline;">
      <% pagination.pages.forEach(value=> { %>
        <li class="page-item" style="display: inline;">
          <a href="/message?page=<%= value %>" class="page-link">
            <%= value %>
          </a>
        </li>
        <% }) %>
    </ul>
    </div>