<div>
  <h3>名字: <%= data.message.User.name%>
  </h3>
  <form action="/message/<%= data.index %>/edit" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="comment"></label>
    <textarea name="comment" id="comment" cols="30" rows="10"><%= data.message.comment %></textarea>
    <input type="text" name="page" value="<%= page %>" hidden>
    <input type="text" name="messageId" value="<%= data.message.id %>" hidden>
    <button type="submit">Submit</button>
  </form>
</div>